<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="EVGV_GuestBook::evgv_guestbook_message" title="Guest Book" module="EVGV_GuestBook" sortOrder="9999" resource="Magento_Backend::content" action="evgv_guestbook/message/index"/>
	</menu>
</config>
